<div class="container">
  <%= render partial: "components/modal_photo"%>



<div class="post-show row">
  <div class="col-md-12">
    <div class="gallery">
      <%unless @photo.image.file.nil? %>
      <% else %>
      <% @photos.each do |p| %>
          <%= image_tag p.image_url.to_s ,class: "image", data: { toggle: "modal", bigimage: p.image_url.to_s,  target: "#my-modal"} %>
      <% end %>
      <% end %>
    </div>
  </div>

</div>



